<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
  <body>
    <%- include("../menu"); %>

    <!-- 상세조회 -->
    <!-- Material input -->
    <div class="md-form">
      <input
        type="text"
        id="form1"
        class="form-control"
        value="<%= result.singer %>"
        readonly
      />
    </div>

    <div class="md-form">
      <input
        type="text"
        id="form1"
        class="form-control"
        value="<%= result.title %>"
        readonly
      />
    </div>

    <button
      onclick="location.href='/api/music'"
      type="submit"
      class="btn btn-primary"
    >
      목록
    </button>
    <button
      onclick="location.href='/api/music/<%= result._id%>/edit'"
      type="submit"
      class="btn btn-primary"
    >
      수정
    </button>
    <button id="deleteBtn" type="submit" class="btn btn-primary">삭제</button>

    <%- include("../footer"); %>

    <script>
      $(function () {
        $("#deleteBtn").on("click", () => {
          const result = confirm("삭제하시겠습니까?");
          if (result) {
            // 삭제
            $.ajax({
              url: "/api/music/<%= result._id %>",
              type: "DELETE",
            })
              .done(() => {
                location.href = "/api/music/";
              })
              .fail((request, status, error) => {
                alert(request.responseText);
              });
          }
        });
      });
    </script>
  </body>
</html>
